# Git & CI
.git/
.github/
.gitignore

# Build outputs
out/test/
coverage/
*.map

# Sources/tests not needed at runtime
src/test/
test/
.vscode/

# Misc
node_modules/**/node_modules
tsconfig.json
jest.config.* 
*.log
